{% extends 'base.html' %}

{% block title %}Your Subscriptions{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Your Subscriptions</h1>

    <ul>
        {% for subscription in subscriptions %}
            <li>
                <strong>{{ subscription.package.name }}</strong>
                <br>Start Date: {{ subscription.startDate }}
                <br>End Date: {{ subscription.endDate }}
                <br>Status: {{ subscription.status }}
            </li>
        {% empty %}
            <p>You have no active subscriptions.</p>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
