{% extends 'base.html' %}
{% block content %}
<div class="login-container">
  <h1>Session List</h1>

  {% if user.profile.type == 'GO' %}
    <!-- For Gym Owner -->
    {% if not session_list %}
      <p>You don't have any sessions to view. Please create a session.</p>
      <a href="{% url 'session_create' %}">Add a Session</a>
    {% else %}
      {% for session in session_list %}
        <a href="{% url 'session_detail' session.id %}">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ session.name }}</span>
              <p>Location: {{ session.location }}</p>
              <p>Date: {{ session.date }}</p>
              <p>Time: {{ session.time }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    {% endif %}

  {% else %}
    {% if not session_list %}
      <p>No available sessions to view at the moment.</p>
   
    {% else %}
      {% for session in session_list %}
        <a href="{% url 'session_detail' session.id %}">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ session.name }}</span>
              <p>Location: {{ session.location }}</p>
              <p>Date: {{ session.date }}</p>
              <p>Time: {{ session.time }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
  {% endif %}

    

  {% endif %}
</div>
{% endblock %}
