{% extends 'base.html' %} {% block content %}
<div class="login-container">
  <div>
    {% load static %}
    <img
    class="trainer-images"
      src="{% static trainer.image|cut:'main_app/static/'%}"
      style="width: 250px"
    />
  </div>

  <div class="trainer-info">
    <h1 class="trainers">Meet {{trainer.name}}!</h1>
    <h5 class="trainers">{{trainer.specialties}}</h5>
    <h3 class="trainers">{{trainer.description}}</h3>
  </div>
  {% if request.user == trainer.gym.user %}
  <a href="{% url 'trainer_update' trainer.id %}">Edit</a>
  <a href="{% url 'trainer_delete' trainer.id %}">Delete</a>
  {% endif %}
</div>
<
{% endblock %}
