{% extends 'base.html' %} {% block content %}

<h1>Gym Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ gym.gym }}</span>
    <p>Location: {{ gym.location }}</p>
    <p>Description: {{ gym.description }}</p>
    <p>Phone Number: {{ gym.phoneNumber }}</p>

    <div class="card-section">
      <a href="{% url 'gyms_update' gym.id %}">Edit</a>
      <a href="{% url 'gyms_delete' gym.id %}">Delete</a>
    </div>
  </div>

  <div class="card-content">
    <p class="card-title">Trainers:</p>
    {% if request.user == gym.user %}
    <a href="{% url 'trainer_create'%}">Add Trainer</a>
    {% endif %}
    <ul>
      {% for trainer in trainers %}
      <a href="{% url 'trainer_detail' trainer.id %}">
        <li>
          <h3>{{ trainer.name }}</h3>
          {% load static %}
          <img
            src="{% static trainer.image|cut:'main_app/static/'%}"
            style="width: 100px"
          />
        </li>
      </a>

      {% empty %}
      <p>No trainers available for this gym.</p>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
