{% extends 'base.html' %}
{% block content %}

<h1>Gym List</h1>

{% if not gyms %}
  {% if not user.profile.isSubscribed %}
    <p>You didn't finish the registration process, please Create Your Profile</p>
    <a href="{% url 'profile_create' %}">Create Profile</a>
  {% else %}
    <p>You didn't finish the registration process, please Add a Gym</p>
    <a href="{% url 'gyms_create' %}">Create A Gym</a>
  {% endif %}
{% else %}
  {% for gym in gyms %}
    <div class="card">
      <a href="{% url 'detail' gym.id %}">
        <div class="card-content">
          <span class="card-title">{{ gym.gym }}</span>
          <p>Location: {{ gym.location }}</p>
          <p>Description: {{ gym.description }}</p>
          <p>Phone Number: {{ gym.phoneNumber }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
