{% extends "base.html" %}

{% block content %}
<div class="profile-container my-3 p-3">
  <h1>{{ user.username }}'s Profile Page</h1>

  {% if user.profile %}
  {% load static %}
  
  <!-- Profile Image -->
  <div class="profile-image-container">
    <img
      src="{% static user.profile.image|cut:'main_app/static/' %}"
      alt="Profile Image"
      class="profile-image"
    />
  </div>

  <!-- Profile Details -->
  <div class="profile-info">
    <p class="profile-detail">Age: {{ user.profile.age }}</p>
    <p class="profile-detail">Gender: {{ user.profile.gender }}</p>
    <p class="profile-detail">Weight: {{ user.profile.weight }} kg</p>
    <p class="profile-detail">Height: {{ user.profile.height }} cm</p>
    <p class="profile-detail">Subscribed: {{ user.profile.isSubscribed }}</p>
  </div>

  <div class="edit">
    <li><a href="{% url 'profile_update' user.profile.id %}" class="edit-link">Edit Profile</a></li>
  </div>

  {% if not user.profile.isSubscribed %}
  <a href="{% url 'subscribe' %}" class="subscribe-link">Subscribe</a>
  {% endif %}
  
  {% else %}
  <p>You didn't finish the registration process. Please create your profile.</p>
  <a href="{% url 'profile_create' %}" class="create-profile">Create Profile</a>
  {% endif %}
</div>
{% endblock %}
